@import "tailwindcss";

/* Default font */
body {
  font-family: var(--font-inter);
}

/* Heading font */
.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-koulen{
  font-family: var(--font-koulen);
}
